<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OnlyPaws</title>

    @inject CodeMechanic.Razorhat.ImportMap ImportMap

    @Html.Raw(ImportMap.RenderAsScripts(debug: true))

    <link rel="stylesheet" href="css/site.css"/>

    <link defer rel="stylesheet" type="text/css" href="vendors/daisyui/daisyui@5.css"/>

    @* <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/> *@
    @* *@
    @* <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script> *@


</head>
<body class="border-2 border-accent">
<header>

    <div class="navbar  bg-rose-400 text-neutral-content">
        <a href="/" type="button" class="btn bg-rose-800 text-white text-xl">
            OnlyPaws
        </a>

        <ul>
            <li>
                <a href="/Sandbox">Sandbox</a>
            </li>
        </ul>
    </div>

</header>
<div class="">
    <main role="main" class="m-4">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="">
        &copy; 2026 - OnlyPaws - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
@* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@
</body>
</html>
