[Unit]
Description=onlypaws service
After=network.target

[Service]
Type=simple
User=nick
WorkingDirectory=/home/nick/Desktop/projects/personal/patchman/samples/OnlyPaws
ExecStart=/home/nick/.dotnet/dotnet /home/nick/Desktop/projects/personal/patchman/samples/OnlyPaws/bin/Release/net9.0/publish/OnlyPaws.dll
Restart=on-failure
RestartSec=3
Environment=DOTNET_ROOT=/home/nick/.dotnet
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:5000
Environment=PATH=/home/nick/.dotnet:/home/nick/.dotnet/tools:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
StandardOutput=journal
StandardError=journal
KillSignal=SIGINT
SyslogIdentifier=onlypaws

[Install]
WantedBy=multi-user.target
