[Unit]
Description=onlypaws service
After=network.target

[Service]
Type=simple
User=root

# Run the tool directly
ExecStart=/usr/bin/dotnet /home/nick/Desktop/projects/personal/patchman/samples/OnlyPaws/bin/Release/net9.0/publish/OnlyPaws.dll

Restart=on-failure
RestartSec=3


Environment=DOTNET_ROOT=/home/nick/.dotnet
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
Environment=PATH=/home/nick/.dotnet:/home/nick/.dotnet/tools:/usr/bin:/usr/local/bin


# IMPORTANT: set HOME so dotnet tools resolve correctly
#Environment=HOME=/root
#Environment=DOTNET_ROOT=/root/.dotnet

# Add dotnet tools path
#Environment=PATH=/root/.dotnet:/root/.dotnet/tools:/usr/bin:/usr/local/bin
#Environment=PORT=5000

WorkingDirectory=/home/nick/Desktop/projects/personal/patchman/samples/OnlyPaws

# Uncomment if using an env file (copied from your project's repo)
# EnvironmentFile=/root/onlypaws.env

KillSignal=SIGINT
SyslogIdentifier=onlypaws

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
