@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<stack class="text-center bg-cream-00">
    @* <h1 class="bold text-primary">Welcome To Only Paws!</h1> *@

    <island page="PetSearch"/>

    <span class="onlypaws-brand text-xl">OnlyPaws</span>

    <p class="bg-rose-400  text-white font-bold">expected result</p>


    <island page="OnlySpans"/>

</stack>
