@page
@model OnlyPaws.Pages.OnlySpans

@{
    Layout = null;
}

<section class="bg-cream">


    <ul>
        <li>
            <p>@Model.defaultShelter</p>
        </li>

        <li>
            <p>@Model.shelter</p>
        </li>
        <li>
            <p>@Model.shelter2</p>
        </li>
        <li>
            <p>@Model.updated</p>
        </li>
    </ul>

</section>
