@page
@model OnlyPaws.Pages.PetSearch

@{
    Layout = null;
}

<section class="bg-cream">

    <div cols="2" class="bg-cream grid sm:grid-cols-1">

        <div class="border-2 border-rose-200">


            <input type="text"
                   id="query"
                   autocomplete="off"
                   hx-get="@Url.Page("PetSearch", "SearchPets")"
                   hx-target="#pet-results"
                   hx-trigger="keyup changed delay:250ms"
                   hx-indicator="#loading"
                   placeholder="Search"
                   class="form-control"
                   name="search"
                   aria-label="Username"
                   aria-describedby="search-addon"/>

            <img id="loading" class="htmx-indicator" src="img/bars.svg" alt="Loading...">
        </div>

        <div>

            <partial name="_PetsGrid" model="@Model.Results"/>

        </div>

    </div>
</section>
