@page
@model OnlyPaws.Pages.Sandbox.Index

@{
    // Layout = null;
}

<section>

    <span class="onlypaws-brand text-xl">OnlyPaws Brand</span>

    <p class="bg-rose-400  text-white font-bold">expected result</p>

    <alpine-toggle-sample/>

    <island page="OnlySpans"/>
</section>
