@model int?

@if (Model.HasValue)
{
    <div class="badge badge-lg badge-ghost flex items-center gap-1 shadow-md font-bold text-sm px-3 py-1">
        <span class="text-rose-500">❤️</span>
        <span class="text-base-content">@Model.Value%</span>
        <span class="text-xs text-base-content/60">MATCH</span>
    </div>
}
